
/* Filename: styles.css */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300');
body {
  font-family: netflix-font, sans-serif;
  background-color: black;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}